<a href="{{ include.item.url | relative_url }}">
  <div class="card card-monemporda">
    {% if include.item.image %}
      <img class="card-img-top" src="{{ include.item.image | relative_url }}" alt="{{ include.item.title }}">
    {% endif %}

    <div class="card-body">
      <h4 class="card-title">{{ include.item.title }}</h4>

      <p class="card-text">
        {% if page.show_excerpts %}
          {{ include.item.excerpt  | strip_html | truncatewords: 15 }}
        {% endif %}
        {{ include.item.text }}
      </p>
    </div>
  </div>
</a>
