<footer class="footer">
  <div class="container">
    <div class="row">
      {% assign footers = site.data.site.footer %}

      {% for section in footers %}
        <div class="col">
          <h5>{{ site.data.site.footer[forloop.index0].section.title }}</h5>

          {{ site.data.site.footer[forloop.index0].section.body | markdownify }}
        </div>
      {% endfor %}
    </div>
  </div>
</footer>
