{% if include.item.image %}
  <a href="{{ include.item.path | replace_first: 'fotos', 'fotos/big' | relative_url }}" data-group="gallery" class="card modaal-gallery">
    <img class="card-img-top" src="{{ include.item.path | relative_url }}" alt="{{ include.item.basename }}">
  </a>
{% endif %}

{% comment %}
  <div class="card-img-overlay">
    <h5 class="card-title">{{ include.item.basename }}</h5>
    <p class="card-text">
      {{ include.item.modified_time  | strip_html }}
      <br><code>{{ include.item.extname }}</code>
    </p>
    <p class="card-text">{{ include.item.name }}</p>
  </div>
{% endcomment %}
