<script src="{{ '/assets/js/vendor/jquery-rails/javascripts/jquery3.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/popper.js/javascripts/popper.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/bootstrap/javascripts/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/modaal/modaal.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
