<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ "favicon.ico" | prepend: "/assets/favicon/" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

{% seo %}

{% feed_meta %}

{% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
{% endif %}

<link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i|PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
