<div class="container-fluid header">
  <header class="nav-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col align-self-center">
        <a href="https://www.instagram.com/monemporda" target="_blank">
          {% include _icon-instagram.html %}
        </a>
      </div>
      <div class="text-center align-self-center">
        <a class="nav-header-logo" rel="author" href="{{ "/" | relative_url }}">
          <img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}">
        </a>
      </div>
      <div class="col align-self-center d-flex justify-content-end align-items-center">
        <!-- <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        </a> -->
        {% assign nav_header_right = site.pages | where: "nav_header_right", true | sort: 'order' %}
        {% for link_right in nav_header_right %}
          <a class="btn btn-sm btn-outline-primary" href="{{ link_right.url | relative_url }}" target="_blank">
            {{ link_right.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </header>

  <nav class="navbar navbar-expand-md navbar-light">
    {% assign page_paths = site.pages | where: "menu", true | sort: 'order' %}
    <!-- <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a> -->

    {% if page_paths %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="navbar-nav mx-auto d-flex justify-content-center">
          {% for my_page in page_paths %}
            <li class="nav-item {% if my_page.url == page.url %} active {% endif %}">
              <a class="nav-link" href="{{ my_page.url | relative_url }}">
                {{ my_page.title | escape }}
              </a>
            </li>
          {% endfor %}

            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            -->

        </ul>

        <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    {% endif %}
  </nav>
</div>
