{% assign items = include.productores %}

<h2 class="section-heading">
  {{ items.first.colection_name }}
</h2>

{% if items %}
  <div class="card-columns">
    {% for item in items %}
      {% include _card.html item = item %}
    {% endfor %}
  </div>
{% endif %}
