---
layout: default
---

<div class="row">
  <div class="col">
    <h2 class="section-heading">{{ page.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img class="img-circle" src="{{ page.image | relative_url }}">

    {% if page.contact %}
      <strong>Contacte</strong>

      <ul>
        {% if page.contact.loc %}
          <li>
            {{ page.contact.loc }}
          </li>
        {% endif %}

        {% if page.contact.name %}
          <li>
            <strong>{{ page.contact.name }}</strong>
          </li>
        {% endif %}

        {% if page.contact.whatsapp %}
          <li>
            <a href="{{ page.contact.whatsapp }}">{{ page.contact.whatsapp }}</a>
          </li>
        {% endif %}

        {% if page.contact.web %}
          <li>
            <a href="{{ page.contact.web }}">{{ page.contact.web }}</a>
          </li>
        {% endif %}

        {% if page.contact.webs %}
          {% for web in page.contact.webs %}
            <li>
              <a href="{{ web }}">{{ web }}</a>
            </li>
          {% endfor %}
        {% endif %}

        {% if page.contact.email %}
          <li>
            <a href="mailto:{{ page.contact.email }}">{{ page.contact.email }}</a>
          </li>
        {% endif %}

        {% if page.contact.tel %}
          <li>
            <a href="tel:{{ page.contact.tel }}">{{ page.contact.tel }}</a>
          </li>
        {% endif %}

        {% if page.contact.tels %}
          {% for tel in page.contact.tels %}
            <li>
              <a href="tel:{{ tel }}">{{ tel }}</a>
            </li>
          {% endfor %}
        {% endif %}

        {% if page.contact.instagram %}
          <li>
            <a href="https://instagram.com/{{ page.contact.instagram }}">Instagram/{{ page.contact.instagram }}</a>
          </li>
        {% endif %}

        {% if page.contact.facebook %}
          <li>
            <a href="https://facebook.com/{{ page.contact.facebook }}">Facebook/{{ page.contact.facebook }}</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>

  <div class="col-md-8">
    {{ content }}

    {% if page.images %}
      {% for image in page.images %}
        <img src="{{ image | prepend: 'images/colaboradores/' | relative_url }}" class="img-thumbnail">
      {% endfor %}
    {% endif %}
  </div>
</div>



{% if page.collection %}
  {% assign collection = site.colaboradores %}
  {% assign prev = collection | last %}
  {% assign next = collection | first %}

  {% for item in collection %}
    {% if item.title == page.title %}
      {% unless forloop.first %}
        {% assign prev = iterator %}
      {% endunless %}

      {% unless forloop.last %}
        {% assign next = collection[forloop.index] %}
      {% endunless %}
    {% endif %}

    {% assign iterator = item %}
  {% endfor %}
{% endif %}

<nav aria-label="Navegacio Col·laboradores">
  <ul class="d-flex justify-content-between mt-5">
    {% if prev != next %}
      <a class="btn btn-sm btn-outline-primary" href="{{ prev.url | relative_url }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        {{ prev.title }}
      </a>
    {% endif %}

    {% if next %}
      <a class="btn btn-sm btn-outline-primary" href="{{ next.url | relative_url }}" aria-label="Next">
        {{ next.title }}
        <span aria-hidden="true">&raquo;</span>
      </a>
    {% endif %}
  </ul>
</nav>
