---
layout: default
---

<div class="row">
  <div class="col">
    <h2 class="section-heading">{{ page.title }}</h2>
  </div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="list-group">
			<a href="mailto:{{ site.email }}" class="list-group-item list-group-item-action">
				{% include _icon-email.html %}
				{{ site.email }}
			</a>

			{% for social_link in site.social.links %}
				{% capture social_name %}{{ social_link | remove: 'https://' | remove: 'www.' | remove: '.com' | remove: 'eco' | remove: 'monemporda' | remove: '/' | lstrip }}{% endcapture %}

				<a href="{{ social_link }}" class="list-group-item list-group-item-action">
					{% if social_name == 'twitter' %}
						{% include _icon-twitter.html %}
					{% elsif social_name == 'instagram' %}
						{% include _icon-instagram.html %}
					{% elsif social_name == 'facebook' %}
						{% include _icon-facebook.html %}
					{% endif %}
					{{ social_name | capitalize }}
				</a>
			{% endfor %}
		</div>
	</div>

  <div class="col-md-8">
		<form class="needs-validation" novalidate method="POST" action="https://formspree.io/{{ site.email }}">

			<div class="form-label-group">
				<input type="text" name="name" id="name" class="form-control" placeholder="Nom" required autofocus>
				<label for="name">Nom</label>

				<div class="invalid-feedback">Si us plau, digue'ns un nom.</div>
			</div>

			<div class="form-label-group">
		    <input type="email" name="_replyto" id="email" class="form-control" placeholder="Correu electrònic" required="">
		    <label for="email">Correu electrònic</label>

				<div class="invalid-feedback">Si us plau, escriu un email vàlid.</div>
		  </div>

			<div class="form-label-group">
		    <select name="subject" id="subject" class="custom-select" required>
		      <option selected disabled>Tria l'assumpte</option>
		      <option value="fer-se_socia">Fer-me sòcia</option>
		      <option value="llista_de_correu">Subscriure'm a la llista de correu</option>
		      <option value="vendre_productes">Vendre els teus productes</option>
					<option value="altres">Un altre ...</option>
		    </select>
		    <div class="invalid-feedback">Si us plau, tria un assumpte.</div>
	  	</div>

			<div class="form-label-group">
				<textarea name="message" id="message" rows="6" class="form-control" placeholder="Missatge" required></textarea>
		    <label for="email">Missatge</label>
				<div class="invalid-feedback">Si us plau, escriu el missatge que ens vulguis enviar.</div>
		  </div>

		  <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
		</form>
	</div>
</div>

{{ content }}
