<!doctype html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {% include head.html %}
  </head>

  <body class="jekyll-theme-monemporda">
    {% include nav.html %}

    <main role="main" class="container main">
      {{ content }}
    </main>

    {% include _footer.html %}

    {% include foot.html %}
  </body>
</html>
