---
layout: default
---
<div class="row">
  <div class="col">
    <h2 class="section-heading">{{ page.title }}</h2>
  </div>
</div>

<div class="collection-foto"> 
  {{ content }}

  {% assign collection = site.static_files | where: "image", true %}

  {% if collection %}
    <div class="card-columns">
      {% for myimage in collection %}
        {% include _image.html item= myimage %}
      {% endfor %}
    </div>
  {% endif %}
</div>
