---
layout: default
---
<div class="row">
  <div class="col">
    <h2 class="section-heading">{{ page.title }}</h2>
  </div>
</div>

<div class="card">
  {% if page.image %}
    <img class="card-img-top" src="{{ page.image }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    {% if content %}
      <p class="card-text">
        {{ content }}
      </p>
    {% endif %}
  </div>
</div>
